@import "../../../node_modules/bulma/sass/elements/table.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";
@import"../../../node_modules/bulma/sass/components/message.sass";
@import"../../../node_modules/bulma/sass/elements/form.sass";
@import"../../../node_modules/bulma/sass/elements/title.sass";
@import"../../../node_modules/bulma/sass/elements/icon.sass";
@import"../../../node_modules/bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip.sass";
.title{
  margin-top: 1cm;
  text-align: center;
}
.columns {
  margin-top: 7vh;
 margin-left: 15%;
}
.input{
  width: 400px;
}
