@import "../../../node_modules/bulma/sass/elements/title";
@import "../../../node_modules/bulma/sass/elements/table";

.table{
  margin-top: 1cm;
  margin-left:auto;
  margin-right:auto;
}
.en{
  margin-top: 1cm;
  text-align: center;
}
.is-primary{
  margin-top:0.3cm ;
  margin-left: 92%;
  font-size: 15;
}
