@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/table.sass";

.table{
  margin-top: 1.5cm;
  margin-left:auto;
  margin-right:auto;
}
.en{
  margin-top: 2cm;
  text-align: center;
}
.is-primary{
  margin-top:0.3cm ;
  margin-left: 70%;
  font-size: 15;
}
